<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - wedding_memory</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/wedding_memory.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header style="position:relative; z-index:10; background:#fff; box-shadow:0 2px 8px rgba(0,0,0,0.03); border-bottom:1px solid #eee;">
        <div class="text-center py-2 fw-bold" style="font-size:2rem; letter-spacing:2px; padding-top:0.5rem; padding-bottom:0.5rem;">BEKOSOFT</div>
    </header>
    <main role="main" class="pb-3">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="footer border-top text-muted">
        <div class="container text-center">
            &copy; 2025 - <a href="https://www.instagram.com/berkayzngn11/" target="_blank">BEKOSOFT</a> - Tüm hakları saklıdır
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
