@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 70vh;">
    <h1 class="display-4 mb-4 text-center text-break">BEKOSOFT dünyasına hoşgeldiniz</h1>
    <p class="lead text-center text-break">Görsel yüklemek için size verilen özel bağlantıyı kullanınız</p>
</div>
